<div class="row row-cols-4">
    <div class="col">
        <div class="card border-info mb-3" style="max-width: 18rem;">
            <div class="card-header ">Introduction à Java</div>
            <div class="card-body">
                <h5 class="card-title">Niveau: Débutant</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <div class="card-footer row ">
                <a href="#" class="col col-auto"><span class="fas fa-pencil-alt" style="font-size: 1.5em; color: dodgerblue;"></span></a>
                <a href="#" class="col col-auto"><span class="fas fa-trash" style="font-size: 1.5em; color: red;"></span></a>
            </div>
        </div>
    </div>
</div>
