<div *ngIf="listCours.length > 0; else templateSansDonnee">
  <div *ngFor="let cours of listCours" class="container mt-4">
    <h2>{{ cours.titre }}</h2>
    <p>{{ cours.description }}</p>
    <ul>
      <li>Niveau de difficulté : {{ cours.difficulte }}</li>
      <li>Crédits : {{ cours.credit }}</li>
      <li>Formateur : {{ cours.formateur }}</li>
    </ul>
    <a href="#" class="btn btn-outline-info">S'inscrire</a>
    <button (click)="envoyerSupp(cours)" type="button" class="btn btn-outline-danger">Delete</button>
  </div>
</div>

<ng-template #templateSansDonnee>
  <div class="container mt-4">
    <p> No data ...</p>
  </div>
</ng-template>


