<section id="contact" class="py-5 bg-light">
  <div class="container">
    <h2 class="mb-0">You need to reach us?</h2>
    <h3 class="fw-light fs-5">Just fill the form &#128521; </h3>

    <div class="row gy-4 mt-4">
      <div class="col-12 col-md-5">
        <img src="../img/grab-a-coffee.jpg" alt="logone hackerspace" width="100%">
      </div>
      <div class="col-12 offset-md-1 col-md-6">

        <!-- Formulaire -->
        <form class="row">
          <div class="col-6 my-2">
            <label for="firstname" class="form-label">Prénom</label>
            <input name="firstname" type="text" class="form-control" id="firstname">
          </div>
          <div class="col-6 my-2">
            <label for="name" class="form-label">Nom</label>
            <input name="name" type="text" class="form-control" id="name">
          </div>
          <div class="col-12 my-2">
            <label for="email" class="form-label">Email address</label>
            <input name="email" type="email" class="form-control" id="email">
          </div>
          <div class="col-12 my-2">
            <label for="message" class="form-label">Message</label>
            <textarea name="message" class="form-control" id="message" rows="3"></textarea>
          </div>
          <div class="col-12 my-2">
            <button type="submit" class="btn btn-primary w-100">Envoyer</button>
          </div>
        </form>

      </div>
    </div>
  </div>
</section>
